.footer-box {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(70, 70, 70);
}

.footer-item {
  margin-left: 8px;
  margin-right: 8px;
}